<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/styles/globals.css" />
    <link rel="stylesheet" href="/src/views/components/header/header.css" />
    <title>비디오 상세페이지</title>
  </head>
  <body>
    <%- include('../components/header/header.html') %>
    <img width="700px" src="<%= data.imageURL %>" alt="" />
    <video controls width="700">
      <source src="<%= data.videoURL %>" />
    </video>
    <h1 id="video-id"><%= data.title %></h1>
    <h5 id="video-id"><%= data.description %></h5>
    <div><%= data.author %></div>
    <div><%= data.views %></div>
    <script src="/src/views/components/header/header.js"></script>
  </body>
</html>
