<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/styles/globals.css" />
    <link rel="stylesheet" href="/src/views/Home/styles/main.css" />
    <link rel="stylesheet" href="/src/views/components/header/header.css" />
    <title>Korive</title>
  </head>
  <body>
    <%- include('../components/header/header.html') %>
    <div class="container">
      <div id="card-list" class="flex-container">
        <% for(let i=0; i < data.length; i++) { %>
        <div class="card" onclick="navigateToDetail('<%= data[i].id %>')">
          <img class="card-image" src="<%= data[i].imageUrl %>" alt="" />
          <div class="card-container">
            <div class="card-author">
              <img
                class="card-author-icon"
                src="/src/assets/user/avatar.png"
                alt=""
              />
            </div>
            <div class="card-info">
              <h3 class="card-title"><%= data[i].title %></h3>
              <p class="card-author-name"><%= data[i].author %></p>
              <p class="card-views">조회수 <%= data[i].views %></p>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
    <script>
      const cardContainer = document.querySelector('#card-list');

      function navigateToDetail(idx) {
        const detailUrl = '/detail/' + idx;
        location.href = detailUrl;
      }
    </script>
    <script src="/src/views/components/header/header.js"></script>
  </body>
</html>
